---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskapi-deployment
  labels:
    app: flaskapi
spec:
  replicas: 4
  selector:
    matchLabels:
      app: flaskapi
  template:
    metadata:
      labels:
        app: flaskapi
    spec:
      containers:
        - name: flaskapi
          image: adhishkapoor1607/flask-api
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: MYSQL_DATABASE_USER
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MYSQL_DATABASE_USER
            - name: MYSQL_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: db_root_password
            - name: MYSQL_DATABASE_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MYSQL_DATABASE_HOST
            - name: MYSQL_DATABASE_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MYSQL_DATABASE_PORT
            - name: MYSQL_DATABASE_DB
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MYSQL_DATABASE_DB

---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  ports:
  - port: 5000
    protocol: TCP
    targetPort: 5000
  selector:
    app: flaskapi
  type: LoadBalancer